server {
    listen 443 ssl;
    server_name ifnoelse.com;

    ssl on;
    ssl_certificate /vagrant/resources/cert/server.crt;
    ssl_certificate_key /vagrant/resources/cert/server.key;
    ssl_client_certificate /vagrant/resources/cert/ca.crt;
    ssl_verify_client on;

    location / {
        root   /vagrant/resources/html;
        index  index.html index.htm;
    }

    location /tomcat {
        proxy_pass http://tomcat;
    }
}